body{
    background-image: url('https://cdn.wallpapersafari.com/12/54/4VT6sO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

#main{
    width: 80%;
    height: 590px;
    background: #121f25;
    display: flex;
    flex-direction:column;
    align-items: center;
    opacity: 0.95;
    border-radius: 15px;
    font-style: italic;
    font-weight: bolder;
    color: #cacaca;
}

#front{
    display: flex;
    height: 520px;
    width: 80%;
    background: rgb(20, 20, 15);
    justify-content: space-evenly;
    align-items: center;
    color: #2d8c99;
    border-radius: 15px;
    font-size: 10px;
}
#header{
    font-size: 14px;
    color: #2d8c99;
}
#vs{
    width: 100px;
    height: 100px;
}
#front img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
#choice-1, #choice-2{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.boy{
    display: flex;
    align-items: center;
    margin: 10px;
}
.boy p{
    padding: 5px;
    cursor: pointer;
}
#player-1-img, #player-2-img{
    height: 100px;
    width: 100px;
    margin: 10px;
}
#choice-1 img, #choice-2 img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.5s;
    padding: 5px;
    cursor: pointer;
}
#choice-1 img:hover, #choice-2 img:hover{
    background: #2d8c99;
}
p:hover{
    color: red;
}
#start,#play-again{
    height: 40px;
    width: 150px;
    margin: 10px 0;
    background: #000;
    color: #2d8c99;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.6s;
}
#start:hover, #play-again:hover{
    color: green;
    border: 1px solid green;
}

#board{
    display: none;
    flex-direction: column;
    height: 500px;
    width: 80%;
    background: rgb(19, 32, 36);
    align-items: center;
    color: #2d8c99;
    border-radius: 15px;
    font-size: 10px;
    justify-content: space-evenly;
}
#main-board{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.middle{
    height: 276px;
    width: 40%;
    background: #cabada;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    margin: 5px;
}
#board-players{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.square-box{
    grid-column: 1fr;
    background: #2a3f42;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-box h1{
    font-size: 30px;
}
#play-again{
    cursor: pointer;
    margin-bottom: 10px;
}
.board-player-1 h1 span, .board-player-2 h1 span{
    font-size: 40px;
}
#show-winner{
    width: 100%;
    height: 120px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#show-winner img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 10px;
}
.board-player-1, .board-player-2{
    display:flex;
    align-items: center;
}
.board-player-1 img, .board-player-2 img{
    height: 70px;
    width: 70px;
    border-radius:50%;
    margin: 10px;
}
.square-box img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.first-part{
    width: 30%;
    text-align: center;
}
.last-part{
    width: 30%;
    text-align: center;
}